*{
    margin: 0;
    padding: 0;
}
.main{
    height: 90vh;
    width: 80vw;
    padding: 5%;
}
body{
    background-color: hsl(230, 17%, 14%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar h2{
    color: white;
}
.navbar p{
    color: hsl(228, 34%, 66%);
}
.right{
    display: flex;
}
.right p{
    margin-right: 5px;
}
.flex-up{
    display: flex;
}
.top{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    
}
.bottom{
    display: grid;
    grid-template-columns: repeat(4 25%);
    grid-template-rows: repeat(2 50%);
    grid-template-areas: "one two three four"
    "five six seven eight";
}
.lower1{
    grid-area: one;
}
.lower2{
    grid-area: two;
}
.lower3{
    grid-area: three;
}
.lower4{
    grid-area: four;
}
.lower5{
    grid-area: five;
}
.lower6{
    grid-area: six;
}
.lower7{
    grid-area: seven;
}
.lower8{
    grid-area: eight;
}